# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environment
.venv/

# IDE settings
.vscode/
.idea/
.cursor/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
!logs/.gitkeep

# Excel files
data/servers.xlsx
!data/servers_template.xlsx

# TTL files
macros/**/*.ttl
!macros/template.ttl

# SSH keys
keys/*
!keys/.gitkeep

# Jupyter / IPython
.ipynb_checkpoints/

# Installer files
*.exe
*.msi

# Environment files
.env

# Launcher config
bin/launcher_config.json
